/* styles/background.css */
#background {
  position: fixed;
  inset: 0;
  z-index: -2;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
}

#background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display:block;
}

/* subtle overlay */
#background::after {
  content: '0';
  position: absolute;
  inset: 0;
  background: linear-gradient(109deg, rgba(58, 155, 220, 0.99) 15%, rgba(51, 51, 51, 0.2) 50%, rgba(255, 115, 0, 0.726) 85%);
  mix-blend-mode: overlay;
  pointer-events: none;
  z-index: 0;
}
